
.site-header a {
	text-decoration: none;
}

.site-header, .clock {
	margin-bottom: 36px;
}

div#tweet-container > * {
	margin-right: 1em; /* space between twitter buttons */
}

.clock {
	margin-left: 0px;
}

.clock ul.flip:first-of-type {
	margin-left: 0px;
}

.text-clock {
	font-size: 2em;
}

.text-clock .months {
}

.text-clock .hours {
    font-size: 1.5em;
    margin-top: -20px;
}

.text-clock .minutes {
    font-size: 1.75em;
    margin-top: -36px;
}

.text-clock .seconds {
    font-size: 2em;
    margin-top: -42px;
}

.text-clock .days {
    margin-top: -14px;
}

.text-clock .months span.label {
    font-size: .66em;
}

.text-clock .months span.number {
    margin-left: 2px;
    margin-right: 0px;
}

.text-clock .seconds span.label {
    font-size: .75em;
}


/*.clock .flip-clock-divider.weeks,
.clock .flip-clock-divider.weeks + ul,
.clock .flip-clock-divider.weeks + ul +ul
{
	display: none;
}*/

.flip-clock-wrapper ul.flip li a div div.inn
{
	background-color: #333;
	/*background-color: firebrick;*/

}

.flip-clock-divider.weeks + ul.flip li a div div.inn,
.flip-clock-divider.weeks + ul.flip + ul.flip li a div div.inn,
.flip-clock-divider.days + ul.flip li a div div.inn,
.flip-clock-divider.days + ul.flip + ul.flip li a div div.inn {
	background-color: firebrick;
	/*background-color: #333;*/

}


@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}



@media screen and (max-width: 975px) {
	.clock {
		position: relative !important;
		padding-top: 0px;
		margin-left: -39px;
		height:100px;
		width: 800px;
		/*zoom: .6;*/
		transform: scale(.9);
	}

	.flip-clock-wrapper {
		position: relative;
	}
}


@media screen and (max-width: 850px) {

	span.flip-clock-label {
		font-size: 21px;
	}

	.clock {
		position: relative !important;
		padding-top: 0px;
		margin-left: -79px;
		height:100px;
		width: 800px;

		/*zoom: .6;*/
		transform: scale(.8);
	}

	.flip-clock-wrapper {
		position: relative;
	}
}

@media screen and (max-width: 750px) {
	.clock {
		position: relative !important;
		padding-top: 0px;
		margin-left: -129px;
		height:100px;
		width: 800px;
		/*zoom: .6;*/
		transform: scale(.7);
	}

	.flip-clock-wrapper {
		position: relative;
	}
}

@media screen and (max-width: 650px) {
	.clock {
		position: relative !important;
		padding-top: 0px;
		margin-left: -159px;
		height:100px;
		width: 800px;
		/*zoom: .6;*/
		transform: scale(.6);
	}

	.flip-clock-wrapper {
		position: relative;
	}
}

/* On small screens we just can't fit the fancy countdown */
@media screen and (min-width: 500px) {
	.text-clock {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.clock {
		display: none;
	}
}




	/*	-ms-transform: scale(.54); 
		-webkit-transform: scale(.54); 
		-o-transform: scale(.54); 
		-moz-transform: scale(.54); */



